

body{
    background-color: #00b4fc;    
    /* background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; */
}


#splashscreen {
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 25px;
}

#startButton {
    border-style: none;
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

#game-box {
    background-image: url("Images/WallpaperSea.jpg") ;
    width:600px;
    height:400px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    user-select: none;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #game-screen, #game-over-screen {
    display: none;

  }

  #game-over-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
  }

  #life-counter {
/*     border-style: solid;
    border-color: red;
    background-color: aliceblue; */
    padding: 5px 5px;
    border-radius: 5px ;
    display: flex;
    justify-content: flex-start;
    
    margin-bottom: 0;
  
  }

  #life-counter img {
    height: 20px;
    width: auto;
    transition: all 0.3s ease;
    padding: 4px 3px;
  }

  .lost {
    opacity: 0.3;
    filter: grayscale(100%);
  }

#life-counter-container {
    width: 600px ;
    display: flex;
}

#resetButton {
    border-style: none;
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
}

