
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    background-color: #00b4fc;
    margin: 0;    
    /* background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; */
}


#splashscreen {
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 25px;
    font-family:"Chewy", system-ui;
    background-image: url("Images/WallpaperIsland.svg");
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
}

#startButton {
    border-style: none;
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

#game-box {
    background-image: url("Images/WallpaperSea.jpg") ;
    width:600px;
    height:400px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    user-select: none;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #game-screen, #game-over-screen {
    display: none;

  }

  #game-over-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    font-family:"Nunito", sans-serif;
    margin-top: 40px;
  }

  #life-counter {
    padding: 5px 5px;
    border-radius: 5px ;   
    margin-bottom: 0;
  
  }

  #life-counter img {
    height: 20px;
    width: auto;
    transition: all 0.3s ease;
    padding: 4px 3px;
  }

  .lost {
    opacity: 0.3;
    filter: grayscale(100%);
  }

#life-counter-container {
    width: 600px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#resetButton {
    border-style: none;
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px; 
}

#game-over-screen h2 {
    margin-top: 0;
}

#instruction-container {
    display: flex;
    
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    
}

li {
    font-family: "Nunito", sans-serif;
    font-size: 0.8rem;
}

#instruction-container h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

ul {
    padding: 0;
    margin: 0.5rem;
}

hr {
    background-color: rgba(255, 255, 255, 0.3);
        /* border: 1px solid rgba(255, 255, 255, 0.3); */
    height: 2px;
    width: 90%;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;

}


#instruction-container p {
    font-size: 0.8rem;
    text-align: left;
    font-family: "Nunito", sans-serif;
}